<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="#">Piyuesh.me</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/posts'>Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contributions'>Open Source Contributions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact'>Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav float-lg-right">
      <li class="nav-item">
        <a href="https://www.drupal.org/u/piyuesh23" target="_blank">
          <span class="drupal-logo logo"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.facebook.com/piyuesh23" target="_blank">
          <span class="fb-logo logo"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/piyuesh23" target="_blank">
          <span class="tw-logo logo"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/piyuesh23" target="_blank">
          <span class="gh-logo logo"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

