.post.item h3 {
  margin-top: 0;
}

.post .content {
  padding-bottom: 20px;
}

.posts-page {
  background-color: #f8f8f8;
  color: #000;
}

@media (max-width: 768px) {
  .post .content {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .post {
    padding-bottom: 20px;
  }

  .post .read-more {
    margin-left: 15px;
  }

  .post {
    border-bottom: 1px solid #ccc;
  }
}
